<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengrui.zblog.server.mapper.BlogMapper">
    <insert id="insert">
        insert into blog(title,content,cover,author_id,create_time,update_time) values (#{title},#{content},#{cover},#{authorId},#{createTime},#{updateTime})
    </insert>

    <select id="getBlogByBlogId" resultType="com.zengrui.zblog.pojo.vo.ReadBlogVO">
        SELECT
            b.title,
            b.content,
            b.cover,
            u.username AS author,
            u.avatar,
            b.create_time
        FROM blog b
                 JOIN user u ON b.author_id = u.id
        WHERE b.id = #{id}
    </select>

    <select id="getAllBlogs" resultType="com.zengrui.zblog.pojo.vo.BlogListVO">
        SELECT
            b.id,
            b.title,
            LEFT(b.content, 100) AS content_abstract,
            b.cover,
            u.username AS author,
            b.like_count,
            b.comment_count,
            b.create_time
        FROM blog b
                 JOIN user u ON b.author_id = u.id
        ORDER BY b.create_time DESC
    </select>

    <select id="getMineBlogs" resultType="com.zengrui.zblog.pojo.vo.BlogListVO">
        SELECT
            b.id,
            b.title,
            LEFT(b.content, 100) AS content_abstract,
            b.cover,
            u.username AS author,
            b.like_count,
            b.comment_count,
            b.create_time
        FROM blog b
                 JOIN user u ON b.author_id = u.id
        WHERE b.author_id = #{id}
        ORDER BY b.create_time DESC
    </select>

    <update id="update">
        UPDATE blog
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="cover != null and cover != ''">
                cover = #{cover},
            </if>
        </set>
        WHERE id = #{id} AND author_id = #{authorId}
    </update>
</mapper>