<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengrui.zblog.server.mapper.CommentMapper">
    <select id="list" resultType="com.zengrui.zblog.pojo.vo.CommentListVO">
        select id, blog_id, author, content, create_time from comment where blog_id = #{id}
    </select>
</mapper>